.fa-codepen {
    color: greenyellow;
    font-size: 70px;
}

.head-title {
    margin-top: -65px;
    margin-left: 75px;
}

.head-info {
    font-size: 15px;
    margin-top: -25px;
    margin-left: 75px;
}

.mynav {
    text-align: center;
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: rgb(70, 66, 66);
    border-radius: 5px;
}

.mynav li {
    display: inline;
}

.mynav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    font-size: 17px;
}

.mynav li a:hover {
    background-color: yellowgreen;
    color: black;
}

.social-networks {
    float: right;
    margin-top: -100px;
}

.social-icons {
    font-size: 40px;
    color: #645f5f;
}

/* Slideshow */

.first-section {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #8cc930;
}

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}

.slideshow-container {
    border: 5px solid rgb(63, 13, 13);
    max-width: 1000px;
    position: relative;
    margin: 25px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.active:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

/* Slideshow End */

.slideshow-info-2 {
    color: #fff;
}

.slideshow-info-2 h1 {
    font-size: 45px;
}

.slideshow-info-2 p {
    font-size: 18px;
}

.slideshow-info-2 .learn-more-button {
    cursor: pointer;
    color: white;
    background-color: rgb(54, 44, 44);
    padding: 10px 18px;
    margin-top: 50px;
    margin-left: 40%;
}

.second-section {
    margin: 40px 40px 0px 40px;
    border: 2px solid #bdbaba;
    padding: 25px 15px;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto;
}

.second-section h1 {
    text-align: left;
    margin-left: 45px;
    color: rgb(79, 81, 223);
}

.second-section p {
    text-align: left;
    margin-right: 50px;
    margin-left: 45px;
}

.second-section .line {
    margin-left: 45px;
    margin-top: -30px;
    width: 80%;
    height: 4px;
    background-color: #0004ec;
}

.second-section .btn-read-more {
    cursor: pointer;
    margin-left: -56%;
    padding: 8px 20px;
    color: rgb(79, 81, 223);
    font-weight: bold;
}

.arrow-section {
    margin: 5px 40px;
    ;
    padding: 0px 15px;
}

.arrow-section .btn {
    padding: 5px 30px;
    cursor: pointer;
}

.arrow-section .btn-1 {
    float: left;
}

.arrow-section .btn-2 {
    float: right;
}

.arrow-section .fas {
    color: rgb(0, 174, 255);
}

.blogger {
    margin: 90px 0px 0px 40px;
}

.blog-zone {
    margin: 0px;
    padding: 0px;
    border: 1px solid rgb(141, 141, 141);
}

.blog-zone .blog-header {
    border-bottom: 1px solid #444;
    margin: 0px;
    padding: 5px;
    background-color: #eee;
}

.blog-zone .post-content {
    margin-top: 40px;
    margin-left: 10px;
}

.post-title {
    margin-left: 120px;
    margin-top: -120px;
}

.post-title a {
    text-decoration: underline;
}

.post-date {
    margin-top: 30px;
    margin-left: -5px;
    display: block;
    text-align: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    background-color: rgb(0, 194, 16);
}

.post-date .day-date {
    font-size: 60px;
    color: #fff;
}

.post-date .month-date {
    color: #000;
    font-weight: bold;
}

.blog-zone .more-posts-link {
    border-top: 1px solid #000;
    text-align: right;
    background-color: #eee;
}

.blog-zone .more-posts-link p {
    padding: 5px 15px;
    margin: 0px;
    color: rgb(79, 81, 223);
}

.blog-zone .more-posts-link p .far {
    color: #000;
}

.right-side {
    margin: 0px 0px 0px 70px;
}

.btn-search {
    cursor: pointer;
    background-color: #d8d4d4;
    color: rgb(0, 194, 16);
    font-weight: bold;
}

.cat-table {
    margin-top: 20px;
    text-align: left;
}

.cat-table th {
    background-color: #eee;
}

.cat-table table, th, td {
    border: 1px solid #000;
    border-collapse: collapse;
    font-weight: bold;
    padding: 8px 3px;
}

.cat-table td, a {
    text-decoration: none;
    color: rgb(0, 153, 255);
}

.cat-table .fas {
    color: #000;
}

.comments-table {
    margin-top: 20px;
    text-align: left;
}

.comments-table th {
    background-color: #eee;
}

.comments-table table, th, td {
    border: 1px solid #000;
    border-collapse: collapse;
    font-weight: bold;
    padding: 8px 3px;
}

.comments-table td, a {
    text-decoration: none;
    color: rgb(0, 153, 255);
}

.comments-table td, a p {
    color: #000;
    padding: 0px;
    margin: 0px;
}

.comments-table .fas {
    color: #000;
}

.comments-table .fa-chevron-downs {
    color: rgb(0, 153, 255);
}

.popular-posts {
    background-color: #ddd;
    border: 1px solid #000;
    width: 55%;
    margin: 5px 0;
}

.popular-posts h3 {
    padding: 0px;
    margin: 5px;
}

.contact-us {
    background-color: #ddd;
    border: 1px solid #000;
    width: 55%;
    margin: 5px 0;
}

.contact-us h3 {
    padding: 0px;
    margin: 5px;
}

.side-gallery {
    background-color: #ddd;
    border: 1px solid #000;
    width: 55%;
}

.side-gallery h3 {
    padding: 0px;
    margin: 5px;
}

.side-gallery-2 {
    width: 55%;
    border: 1px solid #000;
}

.photo-side {
    display: flex;
    background-color: #fff;
    border: 1px solid #000;
    width: 55%;
}

.photos-side img {
    width: 35%;
    padding: 0px;
    margin: 15px;
}

.cards {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 15px;
}

.card {
    border: 1px solid #000;
    padding: 0px;
    margin: 25px;
}

.card h4 {
    margin: 0;
    padding: 5px;
    background-color: #ddd;
}

.card .card-img {
    width: 80%;
    margin: 15px 0 15px 10%;
}

.card .card-line hr {
    padding: 0px;
    margin: 0px;
}

.card .btn-read-more {
    cursor: pointer;
    margin: 0px 10% 15px 10%;
    padding: 2px 8px;
    color: #4f51df;
    font-weight: bold;
}

.card p {
    margin: 0px 10% 20px 10%;
}

.tweets {
    width: 50%;
}

.tweets .fab {
    color: rgb(79, 141, 223);
}

.tweets-item {
    border: 1px solid #000;
    border-radius: 10px;
    margin: 15px;
}

.tweets-item p {
    padding: 15px;
}

.footsy {
    background-color: #8cc930;
    /* text-align: center; */
    padding: 30px;
}

.footsy .black {
    margin-left: 25%;
    width: 15px;
    height: 35px;
    background-color: #000;
    border: 1px solid #fff;
}

.footsy-title {
    color: #fff;
    text-align: center;
    width: 40%;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0px;
    border: 1px solid #fff;
    margin-top: -37px;
    margin-left: 29%;
}

.footsy-title p {
    padding: 0px;
    margin-top: 7px;
}

.footsy ul {
    margin-left: 20%;
    list-style-type: circle;
}

.footsy form button {
    background-color: #000;
    color: #fff;
    padding: 3px 13px;
}

.footer-nav {
    background-color: #a7ff33;
    overflow: hidden;
}

.footer-nav ul {
    list-style-type: none;
    float: right;
}

.footer-nav ul li {
    display: inline;
}

.footer-nav ul li a {
    color: white;
    font-weight: bold;
    padding: 8px 16px;
    display: inline-block;
}